* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  /* padding: 10px; */
  /* background: #21242a; */
  /* color: white; */
}

input {
  text-align: center;
  width: 98.7%;
  margin: 0;
  font-size: 1.2rem;
  color: gray;
  padding: 5px;
}

button {
  font-size: 1.2rem;
  padding: 5px;
  margin-left: 2px;
}

.header {
  width: 100%;
  top: 0;
  background-color: #21232A;
  text-align: center;
  color: white;
  overflow: hidden;
  /* position: fixed; */
  border-top-left-radius:20px;
  border-top-right-radius:10px;
  border-bottom-left-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
}

.footer {
  width: 100%;
  bottom: 0;
  background-color: #21232A;
  text-align: center;
  color: white;
  overflow: hidden;
  /* position: fixed; */
  border-bottom-left-radius:20px;
  border-bottom-right-radius:10px;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
}

.card {
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
  transition: 1s ease;
}

.card:hover {
  box-shadow: 3px 3px 3px 3px #000;
  transition: 1s ease;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 170px;
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-grid {
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}